%transition {
  transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

@mixin transition($time) {
  transition: all $time;
  -ms-transition: all $time;
  -webkit-transition: all $time;
  -moz-transition: all $time;
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* break point */
@mixin min($min-width) {
  @media screen and (min-width: $min-width) {@content;}
}

@mixin max($max-width) {
  @media screen and (max-width: $max-width) {@content;}
}

@mixin bw($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {@content;}
}